weights/*.pt filter=lfs diff=lfs merge=lfs -text
weights/*.pth filter=lfs diff=lfs merge=lfs -text
external/reference_pipeline/**/*.pt filter=lfs diff=lfs merge=lfs -text
external/reference_pipeline/**/*.pth filter=lfs diff=lfs merge=lfs -text
